.container-about {
  position: relative;
  top: 60px;
  height: 100vh;
  width: 100%;
  background: rgb(6, 59, 93);
  background: linear-gradient(
    180deg,
    rgba(6, 59, 93, 1) 0%,
    rgba(15, 18, 37, 1) 100%
  );
}
.wrap-container-about {
  position: relative;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-container-about > img {
  width: 400px;
  height: 350px;
  border-radius: 50%;
}
.text-about {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.text-about h1 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}
.text-about p {
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 16px;
  max-width: 850px;
}
.text-about > .line {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 5px solid #e8c857;
  width: 100px;
  animation: spin2 2s linear infinite;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@keyframes spin2 {
  from {
    left: 42%;
  }
  to {
    left: 50%;
  }
}
.chose-profile {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.fa-github {
  font-size: 50px;
  color: white;
  transition: all 0.5s;
}
.fa-github:hover {
  color: #e8c857;
}
.fa-facebook {
  font-size: 50px;
  color: white;
  transition: all 0.5s;
}
.fa-facebook:hover {
  color: #e8c857;
}
.btn {
  display: flex;
  gap: 20px;
  margin-top: -20px;
}
.btn > .btn-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #e8c857;
  cursor: pointer;
  transition: all 0.5s;
  font-family: "Archivo Black", sans-serif;
  font-size: 20px;
}
.btn > .btn-contact:hover {
  box-shadow: 0 0 0.5em 0.25em #e8c857, 0 0 2em 0.3em #e8c857,
    inset 0 0 0.75em 0.25em #e8c857;
}
.btn > button {
  margin-top: 50px;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: #e8c857;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  font-family: "Archivo Black", sans-serif;
  font-size: 20px;
}
.btn > button:hover {
  box-shadow: 0 0 0.5em 0.25em #e8c857, 0 0 2em 0.3em #e8c857,
    inset 0 0 0.75em 0.25em #e8c857;
}
